---
layout: default
section: blog
---

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <img src='{{url}}' alt='' />
{% endif %}

<div class='listing col6 pad4h margin3'>
  <div class='heading'>
    <h1>{{page.title}} <span class='date subheader'>{{page.date | date:"%b %d"}}</span></h1>
  </div>

  <div class='prose'>
    {{content}}
  </div>
</div>

<br /><br />

{% include rss-link.html %}

<br /><br />